.Person{
    transition: 0.2s;
    padding: 10px;
    width: 20%;
    min-width:100px;
    margin:20px auto;
    background-color: white;
    border-radius:4px;
    box-shadow: 0 0 6px 1px rgb(214, 214, 214);
    color:rgb(75, 75, 75);
}

.Person:hover{
    box-shadow: 0 0 8px 5px rgb(214, 214, 214);
}

.Person span{
    cursor: pointer;
    color:grey;
}

.Person span:hover{
    color:black;
}